// Framework
@import "settings";
@import "framework/all";

// Sprites
@import "mixins/sprite";
@import "partials/sprites";

// Partials
@import "partials/typography";
@import "partials/forms";
@import "partials/elements";

// Custom CSS below


::selection {
  background: $primary-color;
  color: black-or-white($primary-color, 65);
}

* {
  /*font-family: "ff-tisa-sans-web-pro",sans-serif;*/
}

p:empty {
  display: none;
}

h1,h2,h3,h4,h5 {
  color: $title-color;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 34px;
  line-height: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 12px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
}

h4 {
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 12px;
}

h5 {
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 30px;
  margin-top: 0;
}

li {
  line-height: 27px;
}

a {
  color: #e17000;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: #e17000;
  }
  &:focus {
    color: #e17000;
  }
}

.logo {
  display: inline-block;
  top: 15px;
  position: absolute;
  left: 7.5px;
  a {
    display: inline-block;
    @include hide-text();
  }
}

// NAVIGATION

ul[id*=menu] {
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block;
  li {
    display: inline-block;
    list-style: none;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 14px;
      display: inline-block;
    }
  }
}

#menu-top-nav {
  li {
    a {
      &:hover {

      }
    }
  }
}

#menu-footer-nav {
  li {
    a {
      &:hover {

      }
    }
  }
}

#menu-mobile-nav {
  li {
    a {
      &:hover {

      }
    }
  }
}

#menu-main-nav {
  li {
    a {
      &:hover {

      }
    }
    &.current-menu-item,
    &.current-page-ancestor	{
      a {
      }
    }
  }



  .menu-item-has-children {
    position: relative;
    .sub-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: -1px;
      z-index: 600;
    }
    &:hover {
      .sub-menu {
        display: block;
        background: #fff;
        padding: 0 0 15px 0;
        li {
          display: block;
          text-align: left;

          a {
            display: block;
            font-size: 18px;
            line-height: 18px;
            padding: 15px 26px 15px 26px;
          }

          &:first-of-type {
            a {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

.menu-icon {
  color: #FFF;
  display: block;
  height: 2.5rem;
  padding: 0;
  position: absolute;
  z-index: 400;
  right: 13px;
  top: 26px;
  transform: translate3d(0, 0, 0);
  width: 34px;
  &:before,
    &:after {
    content: "";
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    background: #94c356;
    width: 34px;
    height: 4px;
    left: 0;
  }
  &:before {
    box-shadow: 0 8px 0 0 #94c356;
    position: absolute;
  }
  &:after {
    position: absolute;
    top: 16px;
  }
  &.opened {
    &:before {
      box-shadow: 0 0 0 0 transparent;
      transform: rotate(225deg);
      top: 7px;
    }
    &:after {
      transform: rotate(315deg);
      top: 7px;
    }
  }
}

// ELEMENTS

.sidebar {
  margin: 12px 0 0;
  padding: 0;
  > li {
    list-style: none;
    &:last-child {
      margin-bottom: 42px;
    }
  }
}
.pagination.current {
  display: inline-block;
  font-size: 16px;
  line-height: 33px;
  height: 33px;
  width: 33px;
  text-align: center;
  background: darken(#ccc, 20);
  color: #fff;
  text-decoration: none;
  margin-right: 8px;
}
.w_pagination {
  > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
  }
  ul {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    padding-left: 9px;
    li {
      list-style: none;
      display: inline-block;
      a {
        font-size: 16px;
        line-height: 33px;
        display: inline-block;
        height: 33px;
        width: 33px;
        text-align: center;
        background: #ccc;
        color: #fff;
        text-decoration: none;
        margin-right: 8px;

        &.prev,
        &.next {
          display: none;
        }
      }
      &.current {
        a {
          color: #333;
          background: #f3f3f3;
        }
      }
    }
  }
}

.btn {
  display: inline-block;
  outline: 0 !important;
  height: 44px;
  line-height: 44px;
  text-align: center;
  padding: 0 37px;
  margin: 0;
  font-size: 20px;
  transition: .2s background;
}

/*.btn_orange {
  color: #fff;
  background: $orange;
  &:hover {
    background: #5d1164;
  }
}*/

.btn_round {
  border-radius: 6px;
}

// CONTACT FORM 7

.wpcf7-form {
  .wpcf7-radio {
    span {
      cursor: pointer;
    }
  }
  .wpcf7-text,
  .wpcf7-textarea {
    border: 1px solid #ccc;
    color: #363432;
    font-size: 18px;
    padding-left: 11px;
    &:focus {
      outline: none;
    }
  }
  .wpcf7-text {
    height: 48px;
    line-height: 48px;
    width: 100%;
  }
  .wpcf7-textarea {
    height: 134px;
    padding-top: 6px;
    display: block;
    width: 100%;
    resize: none;
  }
  > p {
    margin-bottom: 20px !important;
  }
  .wpcf7-submit {
    color: #f0ece9 !important;
    background: #bf9764;
    outline: 0 !important;
    height: 50px;
    line-height: 50px;
    padding: 0 22px;
    margin: 0;
    font-size: 16px;
    transition: .2s background, .2s border-color;
    font-size: 16px;
    &:hover {
      background: #ac8554;
    }
  }
}
//Gravity forms


body .gform_wrapper input.large,
body .gform_wrapper input.medium,
body .gform_wrapper input.small,
body .gform_wrapper select.large,
body .gform_wrapper select.medium,
body .gform_wrapper select.small{
  border:1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  line-height:50px;
  height:45px;
  outline:none;
}

body .gform_wrapper textarea.small,
body .gform_wrapper textarea.medium,
body .gform_wrapper textarea.large{
  border:1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  line-height:30px;
  outline:none;
}
body .gform_wrapper ul.gform_fields li.gfield {
  //padding-right:0;
}

body .gform_wrapper .top_label input.medium,
body .gform_wrapper .top_label select.medium {
  width:50%;
}

body .gform_wrapper li.gfield.gfield_error,
body .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color:#eaeaea;
  border:none;
}

body .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
body .gform_wrapper li.gfield_error textarea {
  border-color:#d16915;
}
body .gform_wrapper .top_label .gfield_label  {
    font-family: 'Roboto', sans-serif;
}
.gform_wrapper .gform_footer input.button, 
.gform_wrapper .gform_footer input[type=submit], 
.gform_wrapper .gform_page_footer input.button, 
.gform_wrapper .gform_page_footer input[type=submit] {
    background-color: #e9b30f;
    font-family: 'Roboto', sans-serif;
}

// 404 page

label[for=s] {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 10px;
  display: block;
  vertical-align: middle;
}

#s {
  font-size: 18px;
  padding-left: 14px;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  &:focus {
    outline: none;
  }
}
//Header
.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
  @include clearfix();
  &.headroom--pinned {
    transform: translateY(0);
  }
  &.headroom--unpinned {
    transform: translateY(-100%);
    @media only screen and (max-width : 640px) {
      transform: translateY(0);
    }
  }
  @media only screen and (max-width : 640px) {
    position: static;
  }
}
.language-switch {
    min-height: 49px;
    text-align: right;
    padding-right:45px;
    a {
        display: inline-block;
        color: #0e3951;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin-left: 9px;
        margin-right: 9px;
        padding-top: 20px;
        padding-bottom: 15px;
        line-height: 1;
        text-decoration: none;
    }
}
.top-header-container {
    .lang-line {
      @include clearfix();
      max-width: 1340px;
      margin: 0 auto;
      background: #fff;
    }
    .top-header-container-inner {
        background-color: #003e60;
        min-height: 64px;
        text-align:center;
        padding-right:25px;
        padding-left:25px;
        @media only screen and (max-width : 440px) {
          padding-right: 10px;
          padding-left: 10px;
        }
        .logo-sp {
            position: relative;
            display: inline-block;
            width:145px;
            margin-left:100px;
            top: 17px;
            @media only screen and (max-width : 440px) {
              width: 110px;
              top: 20px;
            }
              svg {
                display: block;
                width: 145px;
                height: 34px;
                @media only screen and (max-width : 440px) {
                  width: 110px;
                  height: 26px;
                }
              }
            .yellow-line {
                position: absolute;
                height: 70px;
                width: 2px;
                background-color: #e9b30f;
                -ms-transform: skewX(-12deg);
                -webkit-transform: skewX(-12deg);
                transform: skewX(-12deg);
                left: -20px;
                top: -43px;
            }
        }
        .menu-toggler {
            float: left;            
            .menu-title {
                line-height: 1;
                //padding: 9px 0;
                padding-top: 25px;
                text-align: center;
                a {
                    color: white;
                    font-size: 16px;
                    font-family: "museo-sans-condensed",sans-serif;                    
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                .nav-icon {
                    display: inline-block;
                    width: 24px;
                    height: 15px;
                    position: relative;
                    //margin: 50px auto;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .5s ease-in-out;
                    -moz-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                    cursor: pointer;
                    top:1px;
                    //left:28px;
                    &:not(.open){
                        &:hover {
                            span {
                                &:nth-child(1) {
                                    top: 0px;
                                    -webkit-transform-origin: left center;
                                    -moz-transform-origin: left center;
                                    -o-transform-origin: left center;
                                    transform-origin: left center;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    span {
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        background: white;
                        //border-radius: 9px;
                        opacity: 1;
                        left: 0;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: .25s ease-in-out;
                        -moz-transition: .25s ease-in-out;
                        -o-transition: .25s ease-in-out;
                        transition: .25s ease-in-out;
                        &:nth-child(1) {
                            top: 0px;
                            -webkit-transform-origin: left center;
                            -moz-transform-origin: left center;
                            -o-transform-origin: left center;
                            transform-origin: left center;
                            width: 50%;
                        }
                        &:nth-child(2) {
                            top: 6px;
                            -webkit-transform-origin: left center;
                            -moz-transform-origin: left center;
                            -o-transform-origin: left center;
                            transform-origin: left center;
                        }
                        &:nth-child(3) {
                            top: 12px;
                            -webkit-transform-origin: left center;
                            -moz-transform-origin: left center;
                            -o-transform-origin: left center;
                            transform-origin: left center;
                        }
                    }
                    &.open {
                        span {
                            &:nth-child(1) {
                                -webkit-transform: rotate(45deg);
                                -moz-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                                transform: rotate(45deg);
                                top: -3px;
                                left: 0px;
                                width: 100%;
                            }
                            &:nth-child(2) {
                                width: 0%;
                                opacity: 0;
                            }
                            &:nth-child(3) {
                                -webkit-transform: rotate(-45deg);
                                -moz-transform: rotate(-45deg);
                                -o-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                                top: 14px;
                                left: 0px;
                            }
                        }
                    }
                }
            }
        }        
    }
    .home-nav-link {
        float: left;
        margin-top:25px;
        margin-left:20px;
        a {
            display: inline-block;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .contact-nav-link {
        float: right;
        margin-top:15px;
        a {
            display: inline-block;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            text-decoration: none;
            position: relative;
            top: -9px;
            margin-right: 10px;
            &:hover {
                text-decoration: underline;
            }
        }

        .bird-icon {
            position: relative;
            display:inline-block;
            width: 29px;
            height: 32px;            
            &:after {
                content: '';
                position: absolute;
                @include sprite(bird);
                left: 0;                
            }
        }
    }    
}


body.admin-bar {
  .header {
    top: 32px;
  }
}

.main-menu-container {
    position: relative;
    background-color: #e7af17;
    display: none;
    height: calc(100vh - 113px);
    //min-height: 100vh;
    text-align:center;
    .main-nav {        
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
        .menu-item {
            display: block;
            line-height: 1;
            a {
                color: #003e60;
                font-family: 'Neo Sans Std';
                font-size: 36px;
                padding-top:7px;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    color:white;
                }
            }
        }
        .sub-menu {
            padding-left:0;
            .menu-item {
                display: block;
                a {
                    position: relative;
                    color: #003e60;
                    font-size: 36px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom: 10px;
                    text-decoration: none;
                    &:hover {
                      color: #fff;
                    }
                }
                &:last-child {
                    a {
                        &:after {                            
                            content: "";                            
                        }
                    }
                }
                &:first-child {
                    a {
                        &:before {
                            //content: "<";
                            position: absolute;
                            left: -7px;
                        }
                    }
                }
            }
            .sub-menu {
              li {
                a {
                  font-size: 28px;
                }
              }
            }
        }
    }
}
//animation
@keyframes bounce {
    from, 20%, 53%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transform: translate3d(0,0,0);
    }

    40%, 43% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -30px, 0);
    }

    70% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -15px, 0);
    }

    90% {
      transform: translate3d(0,-4px,0);
    }
  }

    .bounce {
      animation-name: bounce;
      transform-origin: center bottom;
    }
    .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
//Content
.top_banner_image {
    position: relative;
    min-height: 761px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //margin-bottom:52px;
    //margin-bottom:63px;
    .center-caption-text {
        position: absolute;
        top: 41%;
        left: 15%;
        padding-right:25px;
        p {
            color: white;
            font-size: 46px;
            font-family: 'Neo Sans Std';
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
    }
    .top-left-text,
    .right-bottom-text p {
        color: white;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        line-height: 1;
        text-transform: uppercase;
    }
    .top-left-text {
        padding-top: 27px;
        padding-left: 40px;
        padding-right: 25px;
    }
    .right-bottom-text {
        position: absolute;
        bottom: 123px;
        right: 30px;
        &:after {
          content: '';
          position: absolute;
          right: -11px;
          top: -7px;
          background: #fff;
          width: 11px;
          height: 1px;
        }
        &:before {
          content: '';
          position: absolute;
          right: -6px;
          top: -13px;
          background: #fff;
          width: 1px;
          height: 12px;
        }
    }
    .yellow-line {
        position: absolute;
        height: 500px;
        width: 3px;
        background-color: #e9b30f;
        bottom: -50px;
        left: 127px;
        -ms-transform: skewX(-10deg);
        -webkit-transform: skewX(-10deg);
        transform: skewX(-10deg);
        @media(max-width:1200px){
            left: 85px;
        }
        @media(max-width:1024px){
            display:none;
        }
    }
    .read-more {
        a {
            color: white;
            font-size: 20px;
            font-family: 'Neo Sans Std';
            line-height: 1;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                color: #e9b30f;
            }
            span {
                color: #e9b30f;
                margin-left: 5px;
            }
        }
    }    
    .anchor-to-section {
        position: absolute;
        display: inline-block;
        right:0;
        bottom:35px;
        left:0;
        text-align: center;
        a {
            position: relative;
            display: inline-block;
            width: 22px;
            height: 16px;
            -webkit-animation: scroll-arrow 1.2s infinite linear;
            animation: scroll-arrow 1.2s infinite linear;
            &:after {
                content: '';
                position: absolute;
                right:0;
                top:0;
                @include sprite(arrow-white-down);
            }
        }        
    }
    @-webkit-keyframes scroll-arrow {
      0% { bottom: 4px }
      50% { bottom: 14px }
      100% { bottom: 4px }
    }

    @keyframes scroll-arrow {
      0% { bottom: 4px }
      50% { bottom: 14px }
      100% { bottom: 4px }
    }
    //modal styles
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 9; /* Sit on top */
        padding-top: 10%; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 25px;
        //padding-top:50px;
        border: 1px solid #888;
        width: 640px;
        max-width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        .modal-header {
            &:after {
                content: "";
                clear: both;
                display: block;
            }
        }
        iframe {
            max-width: 100%;
        }
    }
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0;}
        to {top:0; opacity:1;}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0;}
        to {top:0; opacity:1;}
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }   
}
.three_columns_section {
    padding-top:87px;
    padding-left: 30px;
    .single-section {
        margin-bottom: 100px;
    }
    .title {
        color: #0e3951;
        font-family: 'Neo Sans Std';
        font-size: 28px;
        line-height: 1;
        margin-bottom: 40px;
    }
    .content {
        p {
            color: #0e3951;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            line-height: 1.3;
        }
    }
    .read-more {
        a {
            color: #0e3951;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            line-height: 1;
            text-decoration: none;
            text-transform: uppercase;            
            &:hover {
                color: #e9b30f;
                text-decoration: underline;
                &+span {
                    color: #e9b30f;
                }
            }
        }
        span {
            color: #0e3951;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            line-height: 1;
            padding-left: 5px;
            text-decoration: none;
        }
    }
}
.hover-disp-y {
    visibility: visible !important;
    opacity: 1 !important;
}
.two-columns-section-banners {
    margin-bottom:27px;
    .default-column {
        padding: 0 6px;
    }
    .default-row {
        margin: 0 -6px;
    }
    .single-banner {
        margin-bottom: 11px;
        overflow:hidden;        
        &:hover, &:focus {
            .inner-banner {
                .inner-banner-content {
                    .content {                    
                        visibility:visible;
                        opacity: 1;
                        transition: all .3s ease-in-out;
                    }
                    .link-container {
                        opacity: 1;
                        visibility:visible;
                        transition: all .3s ease-in-out;
                    }
                }
            }            
        }
        .inner-banner {
            position: relative;            
            height: 428px;
            transition: all .3s ease-in-out;
            z-index: 10;
            .inner-banner-background {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top:0;
                right: 0;
                bottom: 0;
                left:0;
                transform: scale(1);
                transition: all .3s ease-in-out;
            }
            &:hover, &:focus {
                .inner-banner-background {
                    transform: scale(1.2);
                    transition: all .3s ease-in-out;
                }                
            }
            .inner-banner-content {
                position: absolute;
                bottom: 40px;
                left: 0;
                right: 0;
                padding: 0 30px;
                z-index: 12;
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                .left-part, .right-part {
                    float: left;
                    width:50%;
                    min-height: 60px;
                }
                
                .title {
                    position: absolute;                    
                    max-width: 165px;
                    bottom: 0;
                    color: white;
                    font-family: 'Neo Sans Std';
                    font-size: 34px;
                    line-height: 1;
                  @media only screen and (max-width : 1024px) {
                    position: relative;
                  }
                }
                .content {
                    visibility:hidden;
                    opacity: 0;
                    p {
                        color: white;
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        line-height: 1.6;
                        margin-bottom: 3px;
                    }
                    transition: all .3s ease-in-out;
                }
                .link-container {
                    visibility:hidden;
                    opacity: 0;
                    a {
                        color: white;
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        text-decoration:none;
                        text-transform: uppercase;                        
                        &:after {
                            content:">";
                            padding-left: 5px;
                        }
                    }
                    transition: all .3s ease-in-out;
                }
            }
            .background-gradient {
                position: absolute;
                height: 30%;
                right:0;
                bottom: 0;
                left:0;
                background: -webkit-linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) ); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) ); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) ); /* For Firefox 3.6 to 15 */
                background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) ); /* Standard syntax */
                z-index: 1
            }
            &:hover, &:focus {
                .content {                    
                    visibility:visible;
                    opacity: 1;
                    transition: all .3s ease-in-out;
                }
                .link-container {
                    opacity: 1;
                    visibility:visible;
                    transition: all .3s ease-in-out;
                }
            }
            .global-link {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 13;
            }
        }        
    }
}
.two-columns-section-content {
    padding-top: 85px;
    padding-left:30px;    
    .title {
        color: #0e3951;
        font-family: 'Neo Sans Std';
        font-size: 46px;
        line-height: 1;
        margin-bottom: 40px;
        @media(max-width:440px ){
            font-size: 34px;
        }
    }
    .content {
        p {
            color: #0e3951;
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
        }
        a {
            text-decoration: none;
            &:hover {
                color: #e7af17;
            }
        }
        span {
            font-family: 'Roboto', sans-serif;
            font-size:28px;
            font-weight: 300;
            a {
                text-decoration: none;
                &:hover {
                    color: #e7af17 !important;
                }
            }
        }
        .numbers {
            font-size:28px;
            margin-bottom: 30px;
            font-weight: 300;
            @media(max-width:640px){
                font-size:24px;
            }
        }
    }
}
.specification-section {
    background-color: #ebeef0;
    margin-top:40px;
    margin-bottom: 40px;
    padding-top:45px;
    padding-bottom: 80px;
    h3 {
        color: #003e60;
        font-family: 'Neo Sans Std';
        font-size: 25px;
        line-height: 1;   
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    .left-part {
        padding-left:30px;
    }
    .right-part {
        padding-left: 35px;
    }
    p {
        color: #0e3951;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
    a {
        color: #0e3951;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .product-specification-list {
        margin-bottom: 60px;
        .product-specification {
            .text-col {
                color: #0e3951;
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                font-weight: 500;
                line-height: 1;
                margin-bottom: 12px;
            }
        }
    }    
}
//news content
.single-news-section {
    .title {
        color: #0e3951;
        font-family: 'Neo Sans Std';
        font-size: 34px;
        line-height: 1;
        margin-bottom: 40px;
        text-transform: uppercase;
        padding-left: 40px;
        p {
            color: #0e3951;
            font-family: 'Neo Sans Std';
            font-size: 34px;
            line-height: 1;
            margin-bottom: 0;
        }
    }
    .left-part {
        padding-left: 140px;
    }
    p {
        color: #003e60;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
    a {
        color: #003e60;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .content-section {
        padding-bottom: 190px;
    }
}
.news-archive-section {
    padding-top:65px;
    .news-single-row {
        margin-bottom: 52px;
    }
    .news-text-column {
        
    }
    .info-section {
        border-top:1px solid #0e3951;
        padding-top: 40px;
    }
    .title {
        color: #0e3951;
        font-family: 'Neo Sans Std';
        font-size: 34px;
        line-height: 1;
        margin-bottom: 125px;
        text-transform: uppercase;
        padding-left: 40px;
        p {
            color: #0e3951;
            font-family: 'Neo Sans Std';
            font-size: 34px;
            line-height: 1;
            margin-bottom: 0;
        }
    }
    .content-excerpt {
        padding-left: 160px;
        padding-right: 45px;
        .excerpt {
            color: #003e60;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        .read-more {
            a {
                color: #003e60;
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .img-wrapper {
        height: 427px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.news-navigation {
    min-height: 50px;
    margin-bottom: 63px;
    padding-left: 116px;
    padding-top: 18px;
    a {
        display: inline-block;
        color: #003e60;        
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        text-transform: lowercase;
        margin: 0 6px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.contact-page {
    padding-top: 30px;
    padding-bottom:30px;
    .content-wrapper {
        padding-left: 30px;
      @media only screen and (max-width : 640px) {
        padding-left: 0;
      }
    }
    .content {
        p {
            color: #003e60;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 30px; 
        }
        a {
            color: #003e60;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 500;
            text-decoration: none;            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .right-part {
        padding-top: 34px;
    }
}
//Footer
footer {
    .footer-inner-container {
        background-color: #003e60;
        min-height: 320px;
        padding-top:65px;
        padding-right:40px;
        padding-left:40px;
        padding-bottom:22px;
        .left-part {
            position:relative;
            .yellow-line {
                position: absolute;
                height: 327px;
                width: 3px;
                background-color: #e9b30f;
                -ms-transform: skewX(-10deg);
                -webkit-transform: skewX(-10deg);
                transform: skewX(-10deg);
                right: 62px;
                top: 0px;
                @media(max-width:1240px){
                    display:none;
                }
            }
            .content {
                padding-top:30px;
                padding-left:60px;
                @media(max-width:1295px){
                    padding-left:30px;
                }
                p {
                    color: white;                    
                    font-family: 'Neo Sans Std';
                    font-size: 34px;
                    line-height: 1;
                }
                a {
                    color: #e9b30f;
                    text-decoration: none;
                    transition: color .5s ease-in-out;
                    &:hover {
                        color: white;
                        transition: color .5s ease-in-out;
                    }
                }                
            }
        }
        .right-part {
            float: right;
            padding-right: 60px;
            @media(max-width:1024px){
                float:none;
                padding-left: 60px;
                padding-right: 30px;
            }
        }
        .address-menu-container {
            //padding-left: 270px;            
            .address, .menu {
                display: inline-block;
            }
            .address {
                margin-right:85px;
                p {
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 15px;
                    line-height: 1.3;
                }
            }
            .menu {
                .footer-nav {
                    li {
                        display: block;
                        line-height:1.333;
                        a {                            
                            color: white;
                            font-family: 'Roboto', sans-serif;
                            font-size: 15px;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }                
            }
        }
        .contact-container {
            //padding-left: 270px;
            .title {
                color: #e7af17;
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                line-height: 1.3;
                text-decoration: uppercase;
            }
            p {
                color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                line-height: 1.3;
                text-decoration: none;
            }
            a {
                color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                text-decoration: none;
            }
        }
    }
    .copyright {
        text-align:center;        
        padding-top:20px;
        p {
            color: #003e60;
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
            line-height: 1;
        }
        a {
            color: #003e60;
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .socials {
        .separator {
            position: relative;
            display: inline-block;
            background-color: white;
            height: 33px;
            width: 2px;
            top: 6px;
        }
        a {
            position: relative;
            display: inline-block;
        }
        .footer-social-in {
            width: 23px;
            height: 22px;
            margin-right:16px;
            &:after {
                content: "";
                position: absolute;
                @include sprite(linkedin);
            }            
        }
        .footer-wet {
            width: 34px;
            height: 20px;
            margin-left:16px;
            &:after {
                content: "";
                position: absolute;
                @include sprite(file-tr);
            }            
        }
    }
}

.svg-sprite-inline-fallback {
  display: none !important;
}

main.main {
  padding-top: 113px;
  @media only screen and (max-width : 640px) {
    padding-top: 0;
  }
}

// RESPONSIVE

@media only screen
and (max-width : 1340px) {
  .top-header-container .lang-line {
    margin: 0 15px;
  }
}

@media only screen
and (max-width : 1024px) {
    .two-columns-section-banners .single-banner .inner-banner .inner-banner-content .left-part, 
    .two-columns-section-banners .single-banner .inner-banner .inner-banner-content .right-part {
        width: 100%;
    }
    .two-columns-section-banners .single-banner .inner-banner .inner-banner-content .title {
        top: 0;
        bottom: auto;
    }
    .two-columns-section-banners .single-banner .inner-banner .background-gradient {
        height: 50%;
    }
    .news-archive-section .content-excerpt {
        padding-left: 80px;        
    }
}

@media screen and (max-width: 782px) {
  body.admin-bar {
    .header {
      top: 46px;
    }
  }
}

@media only screen
and (max-width : 640px) {
    .language-switch {
        text-align: center;
        padding-right: 0;
    }
    .top-header-container {
        .top-header-container-inner {
            .logo-sp {
                margin-left: 0;
                .yellow-line {
                    left: -7px;
                }
            }
        } 
    }
    .top_banner_image {
        min-height: 550px;
        .right-bottom-text {            
            bottom: 80px;            
        }
    }
    .top_banner_image .center-caption-text p {
        font-size: 30px;
    }
    .specification-section h3 {
        font-size: 23px;
    }
    .single-news-section {
        .left-part {
            padding-left: 0;
        }
    }   
    .news-archive-section {
        .info-section {
            margin-top: 25px;
        }
        .title {
            padding-left: 0px;
            margin-bottom: 60px;
        }
        .content-excerpt {
            padding-left: 0;
            margin-bottom: 25px;
        }
    }    
    footer{
        .footer-inner-container {
            .left-part {
                .content {
                    padding-left: 0;
                    p {                        
                        font-size: 28px;                        
                    }
                }
            }
            .right-part {                
                padding-left: 0;
                padding-right: 0;
            }
          .address-menu-container {
            .menu {
              width: 100%;
              margin-bottom: 15px;
            }
          }
        }
    }
}

@media only screen
and (max-width : 440px) {
    .top-header-container .home-nav-link {
        display: none;
    }
}