.sprite-arrow-white-down {
	width: 22px;
	height: 16px;
	background-position: 0 0;
}

.sprite-bird {
	width: 29px;
	height: 32px;
	background-position: 0 -25px;
}

.sprite-circular {
	width: 28px;
	height: 28px;
	background-position: 0 -65px;
}

.sprite-clear {
	width: 23px;
	height: 23px;
	background-position: 0 -100px;
}

.sprite-cloud {
	width: 32px;
	height: 23px;
	background-position: 0 -130px;
}

.sprite-dark {
	width: 23px;
	height: 23px;
	background-position: 0 -160px;
}

.sprite-file-tr {
	width: 34px;
	height: 20px;
	background-position: 0 -190px;
}

.sprite-linkedin {
	width: 23px;
	height: 22px;
	background-position: 0 -215px;
}

.sprite-logo {
	width: 145px;
	height: 34px;
	background-position: 0 -245px;
}

.sprite-thermometer {
	width: 12px;
	height: 32px;
	background-position: 0 -285px;
}

.sprite-tmd {
	width: 16px;
	height: 16px;
	background-position: 0 -325px;
}

.sprite-twister {
	width: 26px;
	height: 32px;
	background-position: 0 -350px;
}

.sprite-arrow-white-down, .sprite-bird, .sprite-circular, .sprite-clear, .sprite-cloud, .sprite-dark, .sprite-file-tr, .sprite-linkedin, .sprite-logo, .sprite-thermometer, .sprite-tmd, .sprite-twister {
	background-size: 150px 390px;
	background-repeat: no-repeat;
	background-image: url("images/sprites.png");
}

.svg .sprite-arrow-white-down, .svg .sprite-bird, .svg .sprite-circular, .svg .sprite-clear, .svg .sprite-cloud, .svg .sprite-dark, .svg .sprite-file-tr, .svg .sprite-linkedin, .svg .sprite-logo, .svg .sprite-thermometer, .svg .sprite-tmd, .svg .sprite-twister {
	background-image: url("images/sprites.svg");
}
