 // Check http://www.smashingmagazine.com/2013/03/08/tips-and-tricks-for-print-style-sheets/ for more information
 
@media print {
    // Contrast and alignment
    body, article {
        width: 100%;
        margin: 0;
        padding: 0;
        color: #000;
        background: #fff;
    }
    img { max-width: 100% !important; }

    // Page breaking
    h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
    article { page-break-before: always; }
    ul, img { page-break-inside: avoid; }

    // Typography
    h1, h2, h3, h4, h5, h6 { font-weight: bold; }
    h1 { font-size: 30px; }
    h2 { font-size: 24px; }
    h3 { font-size: 18px; }
    h4, h5, h6 { font-size: 16px; }

    // Links
    a[href]:after { content: ''; }

    // Hiding elements
    form[role="search"],
    .main-nav, .top-nav, .footer-nav,
    .sidebar, .footer,
    #respond { display: none; }

    // Page
    @page { margin: 2cm; }
}