@font-face {
	font-family: 'Neo Sans Std';
	src: url('fonts/NeoSansStd-Regular.eot');
	src: url('fonts/NeoSansStd-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/NeoSansStd-Regular.woff2') format('woff2'),
		url('fonts/NeoSansStd-Regular.woff') format('woff'),
		url('fonts/NeoSansStd-Regular.ttf') format('truetype'),
		url('fonts/NeoSansStd-Regular.svg#NeoSansStd-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
// Text alignement classes
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

// Colors
a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:focus, &:active {
        color: $primary-color;
    }
}

p, h1, h2, h3, h4, h5, h6, li, blockquote {
    color: $text-color;
}

